table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-top: 1px solid #000;
}

table tr th {
  text-align: center;
}
table tr th:nth-child(1) {
  width: 5%;
}
table tr th:nth-child(3) {
  width: 10%;
}
table tr th:nth-child(4) {
  width: 12%;
}

th,
td {
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

#weekly-body tr td:nth-child(1) {
  width: 5%;
  text-align: center;
}
#weekly-body tr td:nth-child(3) {
  width: 10%;
  text-align: center;
}
#weekly-body tr td:nth-child(4) {
  width: 12%;
  text-align: center;
}
