@charset "UTF-8";

section {
  padding: 30px 0;
}

.hidden {
  display: none;
}

/* footer */
footer {
  background-color: #f8f9fa;
  padding: 30px 0;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-info {
  display: flex;
  gap: 20px;
}

.footer-info strong {
  font-weight: bold;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* link */

.link {
  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 500;
  font-size: 15px;
}

@media (max-width: 700px) {
  .footer {
    flex-direction: column;
  }

  .footer-info {
    flex-direction: column;
    gap: 10px;
  }

  .footer-content {
    flex-direction: column-reverse;
    gap: 5px;
    font-size: 13px;
    align-items: flex-start;
  }
  .copy {
    font-size: 10px;
    text-align: left;
  }
}
